<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.dorsa.totalpayment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true">

        <activity android:name=".PaymentActivity"
            android:theme="@style/PaymentTranslucentTheme"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity android:name=".PaymentActivityLandScape"
            android:theme="@style/PaymentTranslucentTheme"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            >
        </activity>



        <receiver android:name=".service.SmsListener">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>