<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.dorsa.totalpayment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <application
        android:allowBackup="true"
        >

        <activity android:name=".PaymentActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|screenLayout|fontScale|uiMode|orientation|screenSize|layoutDirection"
            android:theme="@style/PaymentTranslucentTheme"
            >
        </activity>

        <activity android:name=".PaymentActivityLandScape"
            android:theme="@style/PaymentTranslucentTheme"
            android:configChanges="orientation|keyboardHidden|screenSize"
            >
        </activity>



        <receiver android:name=".service.SmsListener">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>